.App {
  text-align: center;
  flex-flow: column;
  min-height: 100vh;
  display: flex;
}

.App .navbar-brand {
  font-weight: bold;
}

.app-nav-bar {
  background-color: #49494b;
  border-top: 3px solid rgb(228,32,21);
  flex: 1 0 auto;
  max-height: 70px;
}

html, body {
  height: 100%;
}

.app-content {
  flex: 1 0 auto;

}

.footer {
  margin-top: 50px;
  flex-shrink: 0;
  color: white;
  font-size: 13px;
  padding-top: 20px;
  display: flex;
}

.footer a {
  color: #9BBBD7;
}

footer {
  background: #49494b;
}
