.App {
  text-align: center;
  flex-flow: column;
  min-height: 100vh;
  display: flex;
}

.App .navbar-brand {
  font-weight: bold;
}

.app-nav-bar {
  background-color: #49494b;
  border-top: 3px solid rgb(228,32,21);
}

html, body {
  height: 100%;
}

.app-content {
  flex: 1 0 auto;
}

.footer {
  margin-top: 50px;
  flex-shrink: 0;
  color: #444;
  font-size: 13px;
  padding-top: 5px;
  display: flex;
  padding-bottom: 20px;
}

.footer a {
  color: #49494b;
}

.footer .alliance-logo {
  padding-top: 20px;
}

.footer img {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 993px) {
  .footer .logos {
    text-align: right;
  }

  .footer .icon-links {
    text-align: left;
  }
}

footer {
  background: #e4e4e4;
}
